.header {
  position        : sticky;
  top             : 0;
  left            : 0;
  right           : 0;
  width           : 100%;
  padding         : 40px 60px 40px 40px;
  background-color: var(--primary-color);
  z-index         : 1;
}

.header-main {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.header-main-r span {
  font-size  : larger;
  font-weight: 500;
  color      : var(--secondary-color);
}