.header {
  position        : sticky;
  top             : 0;
  left            : 0;
  right           : 0;
  width           : 100%;
  padding         : 40px 60px 40px 40px;
  background-color: var(--primary-color);
  z-index         : 1;
}

.header-main {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.header-main-r span {
  font-size  : larger;
  font-weight: 500;
  color      : var(--secondary-color);
}

.header-main-l .inf-log_out {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.inf-log_out .inf {
  font-size    : larger;
  color        : var(--secondary-color);
  margin-bottom: 5px;
}

.inf-log_out .log_out button {
  font-size       : 14px;
  font-weight     : 600;
  background-color: var(--primary-hover-color);
  color           : #fff;
  border          : none;
  outline         : none;
  padding         : 10px 20px;
  margin-left     : 10px;
  border-radius   : 10px;
  transition      : all ease 0.1s;
  box-shadow      : 0px 5px 0px 0px #fed09b;
}

.inf-log_out .log_out button:hover {
  opacity: 0.9;
  cursor : pointer;
}

.inf-log_out .log_out button:active {
  transform : translateY(5px);
  box-shadow: 0px 0px 0px 0px #fed09b;
}