.import-file {
  text-align: center;
}

.form-import button {
  font-size: 30px;
  padding: 50px;
  border: 1px solid var(--Stroke, #b9b9b9);
  background: #f5f1f1;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-import button:hover {
  background-color: #a3a3a3;
  transition: all 0.3s;
  cursor: pointer;
}

/* Ẩn văn bản mặc định trong input type="file" */
.import-file input[type="file"] {
  width: 90px;
  overflow: hidden;
}
